.contact-form {
  width : 300px;
  display: flex;
  flex-direction: column;
  text-align: start;
 padding-top: 0px;
  margin: 0 auto;
}


.contact-form h3 {
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  font-size: 70px;
  color: #fff;
  text-align: center;

  margin: 0; /* Add this to remove any default margin */
}

.contact-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  color: white;
  font-family: 'Quicksand', sans-serif;
 

}
.contact-form label {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 5px;
}

.contact-form input:focus {
  outline: none;
  border-bottom: 1px solid #0dcaf0;
}

.contact-form button {
  width: auto;
  padding: 12px 20px;
  border: none;
  border-radius: 50px;
  background: #08A7CE;
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;

  /* Align to the right */
  align-self: flex-end;
}

.contact-form button:hover {
  background: linear-gradient(90deg, #09D809, #07A7CD);
  transform: translateY(-2px);
}
@media (max-width: 1024px) {


  .contact-form {
    width: 100%;
    margin-top: 30px;
  }
}